.caixa{
    background-color: #5DA4C6;
}

.titulo{
    color: white !important; 
    font-weight: 'bold' !important;
}

.botao{
    border-color: white !important; 
    background-color: #1b759b; 
    color: white !important;
}

.postagens{
    background-color: white;
}